Repository ocornut/imgui, pull requests merged in 2018-07, with the labels that each got.

#1941 Enable Glfw + Emscripten + OpenGLES 3.0/WebGL 2.0
  examples/imgui_impl_opengl3.cpp
Labels: backend/binding, opengl

#1978 Fix for incorrect DeltaTime calculation on Macos.
  examples/imgui_impl_osx.mm
Labels: backend/binding, osx/ios

#1965 ImFontAtlas::AddFontDefault: Made it possible to override glyph ranges.
  imgui_draw.cpp
Labels: font/text
