Repository ocornut/imgui, pull requests merged in 2023-05, with the labels that each got.

#6385 Backends: avoid null dereference in metal and osx shutdown
  backends/imgui_impl_metal.mm
  backends/imgui_impl_osx.mm
Labels: bug, backends, osx/ios

#6468 Only enable GLFW Vulkan support if not building with Emscripten
  backends/imgui_impl_glfw.cpp
Labels: backends, vulkan

#6286 SDL3 Renderer Implementation
  backends/imgui_impl_sdlrenderer3.cpp
  backends/imgui_impl_sdlrenderer3.h
Labels: backends
