Repository ocornut/imgui, pull requests merged in 2024-12, with the labels that each got.

#8207 Fix asset browser example window content size
  imgui_demo.cpp
Labels: demo

#8221 Fixed missing symbols when using IMGUI_DISABLE_DEMO_WINDOWS
  imgui_demo.cpp
Labels: building, demo

#8246 Updated EXAMPLES.md
  docs/EXAMPLES.md
Labels: doc
